<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
          <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inconsolata:wght@600&family=Indie+Flower&family=Lato:wght@300;400&family=M+PLUS+Code+Latin:wght@300&family=Yuji+Syuku&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" 
      type="image/png" 
      href="http://example.com/myicon.png">
    <title>travel log Login</title>
</head>

<body>
      <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Travel Log App</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">See All Public Travel logs</a></li>
        <li><a  href="/login" class="waves-effect waves-light btn"><i class="material-icons right"></i>signIn</a></li>
        <li><a href="/register">SignUp</a></li>
      </ul>
    </div>
  </nav>
    <div class="container login-container">
        <div class="card">
            <div class="card-content">
                {{{body}}}
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>