
body{
  background-image: url(../images/back.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Amatic SC', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Indie Flower', cursive;
font-family: 'Lato', sans-serif;
font-family: 'M PLUS Code Latin', sans-serif;
font-family: 'Yuji Syuku', serif;
}
   
h3{
  color: white
}
p {
    margin: 10px 0 !important;
  }
  
  .login-container {
    width: 500px;
    margin-top: 50px;
    text-align: center;
  }

  .container{
    margin: auto;
  }

  .header{
    display: flex;
   justify-content: space-between;
   align-items: center;

  }
  
    .wrapper{
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 4rem;
    }

    .profile{
      margin-top:8rem
    }

  .card{
    background-color:rgb(243, 230, 158)
  }
  
  .fa-small {
    font-size: 16px !important;
  }
  
  .btn-float {
    float: left;
    margin-right: 10px;
  }
  
  .img-small {
    width: 180px;
  }
  @media only screen and (max-width: 600px) {
    .wrapper{
      display:grid;
      grid-template-columns: 1fr ;
      grid-gap: 1rem;
       }
  }
  
