<div class="container">
  <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1>
  <div class="row">
    <form action="/signin" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input name="email" id="email" type="email" class="validate">
          <label for="email">
            <h6><i class="fa fa-address-book" aria-hidden="true"></i>Email</h6>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="password" id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="signin" class="btn">
      </div>
    </form>
  </div>
</div>